.*.swp
.project
.checkstyle
.classpath
.springBeans
.factorypath
.apt_generated/
.settings/
.idea/
.junk/
.vagrant/
*.iml
nb-configuration.xml
target/
src/site/asciidoc/api-docs/generated/
src/site/asciidoc/api-docs/rest-api-index.adoc
